
/*
* { 
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,1);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none; 
}
*/

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#homepage {
    background: #ffffff; 
}

/* button placement on home screen */
.ui-grid-a {
	margin-top: 45%;
}

.hometext {  
    top: 30px;  
    font-size: 22px;
}

#infoIcon {  
    margin-left: 80%;
}

#homeIcon {  
    margin-top: 20%;
}

#smallImage {
	position: absolute;
	left: 15px;
	top: 190px;
	/* -webkit-border-radius: 20px; */
    display:none;
    width:300px;
    height:300px; 
	margin-left:-5px;
	margin-top:-20px;
    }

#largeImage {
    width:300px; 
    margin-left:-5px;
	margin-top:-20px;
}

/* navbar graphics at foot of image page */
.nav-glyphs .ui-btn .ui-btn-inner { 
    padding-top: 40px !important; 
}
.nav-glyphs .ui-btn .ui-icon { 
    width: 50px!important; 
    height: 50px!important; 
    margin-left: -25px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important; }    

#nav1 .ui-icon { background:  url(../images/nav1.png) 50% 50% no-repeat; background-size: 50px 50px; }
#nav2 .ui-icon { background:  url(../images/nav2.png) 50% 50% no-repeat; background-size: 50px 50px;  }
#nav3 .ui-icon { background:  url(../images/nav3.png) 50% 50% no-repeat; background-size: 50px 50px; }
#nav4 .ui-icon { background:  url(../images/nav4.png) 50% 50% no-repeat; background-size: 50px 50px;  }
#nav5 .ui-icon { background:  url(../images/nav5.png) 50% 50% no-repeat; background-size: 50px 50px;  }

a
{
    text-decoration: none;
}

/* nav bar custom styles */
/*
.ui-bar-c
{
    background: white;
    opacity:.9;
}
*/


